

body {
  background-image: url('../images/math_image.png');
  background-position: center top;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

div {
  background-color: #bbf;
  border: 1px solid #66f;
  padding: 5px;
  border-radius: 10px;
  margin: 15px;
  font-size: 24px;
}

button{
	border: 3px solid #66f;
	border-radius: 12px;
	font-size: 24px;
	margin: 15px;
	padding: 5px;
}

input{
    width:75px;
    padding:5px;
    box-sizing: border-box;
    font-size: 20px;
}

#container{
	width: 900px;

}

#resposta{
	 width: 400px;
}
.titulo{
  background-color: rgb(216, 216, 247);
	font-size: 36px;
}

.texto{
	margin: 15px;
}

